{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="demo-back">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{@blog.url}}" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
    </div>

    <div class="demo-blog__posts mdl-grid">
      <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:url('{{image}}')">
          <h3>{{title}}</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
          <div class="minilogo">
            {{#if author.image}}<img src="{{author.image}}" alt="{{author.name}}" nopin="nopin" style="width:100%;" />{{/if}}
          </div>
          <div>
            <strong>{{name}}</strong>
            <span>{{date format="DD MMMM YYYY"}}</span>
          </div>
          <div class="section-spacer"></div>
          <div class="meta__favorites">
            425 <i class="material-icons" role="presentation">favorite</i>
            <span class="visuallyhidden">favorites</span>
          </div>
          <div>
            <i class="material-icons" role="presentation">bookmark</i>
            <span class="visuallyhidden">bookmark</span>
          </div>
          <div>
            <i class="material-icons" role="presentation">share</i>
            <span class="visuallyhidden">share</span>
          </div>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
          {{content}}
        </div>
      </div>
      
      <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
        {{#next_post}}
        <a href="{{url}}" class="demo-nav__button">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
            <i class="material-icons">arrow_back</i>
          </button>
          Newer
        </a>
        {{/next_post}}
        <div class="section-spacer"></div>
        {{#prev_post}}
        <a href="{{url}}" class="demo-nav__button">
          Older
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
            <i class="material-icons">arrow_forward</i>
          </button>
        </a>
        {{/prev_post}}
      </nav>
    </div>
  </main>
  {{> "footer"}}
  <div class="mdl-layout__obfuscator"></div>
</div>

{{/post}}
